*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
.box{
  border: 1px solid #a65b5b;
  padding: 20px;
  margin: 20px;

  display: inline-block;
  cursor: pointer;
  background-color: rgb(192, 44, 44);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.card{
  border: 1px solid #a65b5b;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: rgb(192, 44, 44);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}